<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zedd.attendit">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainNavActivity" />
        <activity android:name=".FirebaseDatabaseCreate" />
        <activity android:name=".fireAddTeacher" />
        <activity android:name=".CourseAct" />
        <activity android:name=".AddCourseForAttendace" />
        <activity
            android:name=".location_taken"
            android:exported="true" />
        <activity
            android:name=".currentlocationcheck"
            android:exported="true" />
        <activity
            android:name=".course_teach"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity android:name=".welcomepage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacherprofile"
            android:exported="true" />
        <activity android:name=".teacherstartingpage" />
        <activity
            android:name=".attendance_sheet"
            android:exported="true" />
        <activity android:name=".teacher_front_page" />
        <activity android:name=".studentRegistration" />
        <activity
            android:name=".AdminPage"
            android:exported="true" />
        <activity android:name=".studentprof" />
        <activity
            android:name=".student_front_page"
            android:exported="true" />
        <activity android:name=".student_attendance" />
        <activity android:name=".add_teacher_course" />
        <activity android:name=".add_student_course"></activity>
    </application>

</manifest>