<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zedd.attendit">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainNavActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Studentdatabase" />
        <activity android:name=".FirebaseDatabaseCreate" />
        <activity android:name=".fireAddTeacher" />
        <activity android:name=".CourseAct" />
        <activity
            android:name=".AddCourseForAttendace"
            android:exported="true" />
        <activity android:name=".location_taken" />
        <activity android:name=".currentlocationcheck" />
        <activity android:name=".course_teach"
            android:exported="true"></activity>
    </application>

</manifest>